<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ibis - your backoffice</title>
    <meta name="robots" content="nofollow, noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="app" data-al="cs"></div>


  </body>
  <noscript>Webová stránka vyžaduje v prohlížeči <a href="https://www.enable-javascript.com/cz/">povolený Javascript.</a></noscript>
</html>